a:any-link{
    color: red;
    font-variant: all-small-caps;
    text-decoration: none;
}

a:hover { color: #FF00FF; text-decoration: underline }

h1 {
    color: cornflowerblue;
    font-size: 50px;
}

body {
    background-color: #33312F;
}

p {
    color: aliceblue;

}

strong {
    color: yellow;
    font-weight: bold;
    }

h2 {
    color: cornflowerblue;
   }

ul{
    color: aliceblue;
}
ol{
    color: aliceblue;
}
.image {
    width: 240px;
    height: 240px

}
